{% extends 'ScandioFireStarterBundle::layout.html.twig' %}

{% block content -%}
<h1>
    {{ 'Tile list' | trans }}

    <a style="margin-left:5px;" href="{{ path('tiles_reorder_list') }}" class="btn btn-success btn-lg pull-right">{{ 'Resort' | trans }}</a>
    <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#add-tile-modal">
        {{ 'Add tile' | trans }}
    </button>
</h1>
{% endblock %}