{% extends 'ScandioFireStarterBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ 'Tags' | trans }}</h1>

    <div class="row">
        <div class="col-lg-12">
            {% for tag in entities %}
                <a href="{{ path('tags_show', {'name': tag.name}) }}">{{ tag }}</a> |
            {% else %}
                {{ 'Currently no tags available' | trans }}
            {% endfor %}
        </div>
    </div>
{% endblock %}