{% extends 'ScandioFireStarterBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ tag }}</h1>

    <div class="row">
        <div class="col-lg-12">
            {% include 'ScandioFireStarterBundle:Tag:links.html.twig' with {'links': tag.links} %}
        </div>
    </div>
{% endblock %}