{% extends 'ScandioFireStarterBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ 'Uncategorized Links' | trans }}</h1>

    {% include 'ScandioFireStarterBundle:Tag:links.html.twig' with {'links': links} %}
{% endblock %}